body {
    background: rgb(226, 226, 226);
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    background-color: #13274F;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    margin: 5px;
  }
  
  .box:hover {
    background-color: #a9a6b0;
  }
  
  
  